body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    width: 70%;
  }
  
  h2 {
    color: #000000;
    margin-bottom: 20px;
  }
  
  textarea {
    background-color: #000000;
    color: white;
    width: 90%;
    max-width: 600px;
    height: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
  }
  
  .counts {
    margin-top: 20px;
    font-size: 18px;
  }
  